<div class="text-center">
  <div class="page-header login-page header-filter" filter-color="black" style="background-image: url('./assets/img/login.jpg'); background-size: cover; background-position: top center;">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
        <form class="form-signin">
          <h1 class="h4 mb-2 login">Login de Acesso</h1>
          <label for="inputEmail" class="sr-only">Email</label>
          <input type="email" id="inputEmail"
                 name="email" placeholder="Informe o seu E-mail"
                 class="form-control mb-2"
                 [(ngModel)]="usuario.email"
                 #email="ngModel"
                 email
                 required />
          <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
            <div *ngIf="email.erros.required">
              "Email e de preenchimento obrigatorio"
            </div>
            <div *ngIf="email.erros.email">
              Email no esta no formato correto
            </div>

          </div>


          <label for="inputSenha" class="sr-only">Senha</label>
          <input type="password" id="inputSenha"
                 name="email" placeholder="Informe a sua Senha"
                 class="form-control mb-2"
                 [(ngModel)]="usuario.senha"
                 #senha="ngModel"
                 senha
                 required />
          <div class="alert alert-danger" *ngIf="senha.invalid && (senha.dirty || senha.touched)">
            <div *ngIf="senha.erros.required">
              "Senha e de preenchimento obrigatorio"
            </div>
            

          </div>

          <button class="btn btn-primary btn-block mb-2" type="submit">Entrar</button>
          <img src="assets/imagens/blendit-logo.jpeg" />


        </form>
      </div>
    </div>

  </div>
</div>
